[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-bootstrap3 = "*"
django-crispy-forms = "*"
django-filter = "*"
django-tables2 = "*"
pillow = "*"
django-widget-tweaks = "*"
django-qr-code = "*"
django-annoying = "*"

[dev-packages]

[requires]
python_version = "3.10"
